<!-- how this created see the structure of figma microblog see page 3  -->

<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="micro_blog/css/Microblog.css" >
</head>

    <body> 
        <header>   </header>
        <main>    </main>
        <section>  </section>
        <section>    </section>
        <footer>   </footer>
    
    
    </body>

</html> -->


<!-- If you recall in the previous video, I mentioned that sections usually have a heading to identify them. -->
<!-- So each post is going to be an article because it is more or less self contained and it has meaning on its own. -->

<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="micro_blog/css/Microblog.css" >
</head>

    <body> 
        <header> 
              </header>
        <main>    </main>
        <section>  
            <h1> Add new entry!   </h1>
        
        </section>
        <section>    
            <h1>  Recent posts </h1>
            <article>       
                <div>     
                    <h2>  Today I learn the HTML/CSS    </h2>
                    <time  datetime="10-09-2023">Sept2  </time>
                     </div>
                <p>  Today I am learning  Web-Devlopment using Python/Flask </p>
            </article>
        </section>
        
        
        <footer>   </footer>
    
    
    </body>

</html> -->



<!-- 
Note that the hash symbol here for href is just to signify that there's no destination at the moment, but we can change these later on if we
ever do add a calendar page and so that we can go to different places.
 -->

<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="micro_blog/css/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = nav__brand>
        <img  src="micro_blog/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   
                </ul>       
                
            </div>
                
                
        </header>
        <main>    </main>
        <section>  
            <h1> Add new entry!   </h1>
        
        </section>
        <section>    
            <h1>  Recent posts </h1>
            <article>       
                <div>     
                    <h2>  Today I learn the HTML/CSS    </h2>
                    <time  datetime="10-09-2023">Sept2  </time>
                     </div>
                <p>  Today I am learning  Web-Devlopment using Python/Flask </p>
            </article>
        </section>
        
        
        <footer>   </footer>
    
    
    </body>

</html>

 -->



<!-- We're going to talk briefly about forms, HTML forms. How they work, how data is sent and so on.
However, in order to accept the form data somewhere and be able to use it we need a backend application running that is designed to accept
that data and do something with it. That is going to be the Flask app that we don't have yet.
So for now, we're going to create the forms in the section and we're going to send data, but we don't have anything that can use the data -->

<!-- 
Talking about forms and how they work. So remember, we've got a section here that has a title to add a new entry.
In here we're going to have a form element. There are two main ways of submitting data using forums.
Using get requests or using post requests. That's called the method.
And in addition to the method, we can also specify an action or where the data is going to be sent to.
So at the moment, we don't have an application that is able to receive this data but we will have it later on and the action when we do have
that app is going to be slash entry.
So when we send the data is going to go over to this URL. We're going to talk about method in just a moment as well, but it's
something else that we can change. Let's talk about some elements that we can put in here in the form.
The first type of element and something that we're going to use very often is a label.
For example, we can put sample like that. Then a label is mapped to an input.
For example, an input of type text. The name of the input is going to be sample and the ID of the input is sample field.
Again, these are all adjustable. You can call them whatever you want . But now that we've got the name and the ID.
We can also add a new attribute to the label, which is for. And this has to match the ID of the field.
 -->

<!-- If we type anything in box and click submit the:
https://project1shiv.run-ap-south1.goorm.site/entry?sample=entry and that is because the action we had in here is /entry so you can see that action is sending us to that page.
And that is the page that received the data. Because we don't have anything running that knows what this
is, it fails with an error.
-->

<!-- Add method = 'Post' That's because when you do method="POST", the data is sent somewhere else.
It's not sent on the URL it's sent inside our network requests that is separate.
Post is a bit better for when you've got long forms and you don't want the URL to be very long, or when you want to hide what you're sending a little bit better.
Like I mentioned earlier the default is GET, and if you type method="GET" is the same thing as if you didn't type anything and that's going
to include the data on the URL.  -->

<!-- Most form elements behave similarly. Give them a name and that's what the data is going to be called when it gets sent.
Give them an ID and that's what you're gonna use to link to a label. -->


<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="micro_blog/css/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = nav__brand>
        <img  src="micro_blog/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   
                </ul>       
                
            </div>
                
                
        </header>
        <main>    </main>
        <section>  
            <h1> Add new entry!   </h1>
            <form action="/entry" method="GET" >      
                <label for="sample-field">Sample </label>
                <input  name="sample" id="sample-field">
                <button type="submit">Submit </button>
            </form>
        </section>
        <section>    
            <h1>  Recent posts </h1>
            <article>       
                <div>     
                    <h2>  Today I learn the HTML/CSS    </h2>
                    <time  datetime="10-09-2023">Sept2  </time>
                     </div>
                <p>  Today I am learning  Web-Devlopment using Python/Flask </p>
            </article>
        </section>
        
        
        <footer>   </footer>
    
    
    </body>

</html>

 -->

<!-- So for our microblog instead of sample and an input of type text. We're going to use a label with a better name and a text area.
Remember that the label in our design was hidden, but it's still a good idea, even if it's not displayed to users to have a label there for screen
readers to know what you're talking about when you refer to a field. So let's have a label that is going to be for entry and instead of
all of this, we're going to have a text area with a name of content. An ID of entry.
And textareas are actually not void elements, so we're going to close it like that.
That's because we can put text inside it that will be shown in the text area. Instead of sample here.
We're going to add entry contents just like that  -->


<!--  
It's usually a good idea to group input together with their labels so that styling them and referring to the label plus the input at a group is a little bit easier.
Our form has a single label and input so it's maybe not that important. But as forms grow, it can become more and more important so we're
going to add a paragraph element here with a class="form__input". And inside it, we're going to put our label and text area.
Just like that. Note that here , I'm using BEM.
-->

<!--  
As per the MDN documentation, HTML paragraphs can be any structural grouping of related content, such as images or form fields as well as of course text.
So this is what they were designed to do.
-->

<!-- Finally, I'm also going to change the form method to post because we've got a text area and that can be really long pieces of text.
We don't want to put that in the URL.
 -->

<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="micro_blog/css/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = nav__brand>
        <img  src="micro_blog/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   </ul>       
                
            </div>
                </header>
        
        <main>    </main>
        <section>  
            <h1> Add new entry!   </h1>
            <form class="form" action="/entry" method="Post"  >      
            <p class="form_input">  
                <label class="form__label" for="entry">Entry Contents:  </label>
                <textarea  class="form__textarea" name="content" id="entry">   </textarea>
                </p>
                <button class="form__submit" type="submit">Add entry </button>
            </form>
        </section>
        <section>    
            <h1>  Recent posts </h1>
            <article>       
                <div>     
                    <h2>  Today I learn the HTML/CSS    </h2>
                    <time  datetime="10-09-2023">Sept2  </time>
                     </div>
                <p>  Today I am learning  Web-Devlopment using Python/Flask </p>
            </article>
        </section>
        
<footer>   </footer>
    </body>
</html> -->



<!-- work on a footer:
We're going to start off with the footer and I'm going to give it a class="footer". We can start with giving class names at this stage as well.
And then we're going to have a div element that is going to have a class, if I can write it here, of footer__content . The reason why we have a footer and a div
inside it is because the footer itself, as you remember, the design has a full width.
You can see the footer there takes up the entire width of the page. But the actual content of the footer does not, its width should
be the same as the heading.
So that's why we have the div internally here and the footer externally there.
So inside the div we are then going to have two sections. The left section, which is going to have a class="left".
And then we're going to have a right section, which is going to have a class="right".
I'm not using BEM for these two sections because these are not really related to the footer in any way.
So they don't really belong as footer left and footer right. Although you could do that if you really wanted to do.
Because really all they're doing is signaling that this section is going to be on the left side of something and this one is going to
be on the right side of something.
So it's not really dependent on being in the footer.
You can see that the left section is comprised of these two elements there. And the right section actually has two columns.
So we're going to have to create a div for each column and then items inside all of them. So let's do that.
Inside the left section, we're going to have elements which are footer__item. And these are just going to be the actual footer items.
-->

<!-- Then in the right hand side, we have two columns.So I'm actually going to create a div with a class of footer__column.
And in here, I'm going to put my two elements. -->



<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="/static/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = "navbar__brand">
        <img class="navbar__logo" src="/static/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
                 </div>
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   </ul>       
        </header>
        
        <main class="main">    
        <section>  
            <h1> Add new entry!   </h1>
            <form class="form" method="Post"  >      
            <p class="form_input">  
                <label class="form__label" for="entry">Entry Contents:  </label>
                <textarea  class="form__textarea" name="content" id="entry">   </textarea>
                </p>
                <button class="form__submit" type="submit">Add entry </button>
            </form>
        </section>
        <section>    
            <h1>  Recent posts </h1>
        {% for entry in entries   %}    
            <article class="entry">       
                <div>     
                    <h2 class="entry__title"> {{entry[0] | truncate(30, True )}}   </h2>
                    <time class="entry__date"  datetime="10-09-2023">.{{entry[1]}} </time>
                     </div>
                <p class="entry__content"> {{entry[0]}} </p>
            </article>
            
            {% endfor %}
            
        </section>
            
        </main>
        
<footer class="footer">  
    <div class="footer__content">  
        <section class="left">   
            <a class= "footer__item" herf="#">Made by Shivesh Rajput </a>
            <a class="footer__item" herf="#">Checkout my other project </a>
        </section>
    
    
    <section class="right"> 
        <div class="footer__column">  
        <a class="footer__item" herf="#">Recent </a>
         <a class="footer__item" herf="#">Calender </a>
        </div>
        
        <div class="footer__column">   
        <a class="footer__item" herf="#">About </a>
         <a class="footer__item" herf="#">How this was made </a>
        </div>
        
    </section>
    </div>
        
        </footer>
    </body>
</html> -->

<!-- We're going to begin our CSS work by styling the header.
So let's get to it. -->

<!-- Notice that the title is no longer something that is going to make a

lot of sense for our application because we're not getting a title.

Instead what we can do is we can just put in here the first few

characters of the entry content.

So what we do is we will put entry zero.

And then we're gonna use something that I'll talk at length more about later on.

But it's called a Jinja filter.

Basically we use this pipe and then we can write a function that will apply to

this value before it is interpolated.

And what we're going to do is we're going to truncate and we're going

to truncate after 30 characters.

So this is going to run the truncate filter on the entry contents.

And what that does is it shows up to 30 characters.

And the true here means that it will show an ellipsis, three

dot, after the text that remains if the original text is longer.
 -->
<!-- <!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="/static/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = "navbar__brand">
        <img class="navbar__logo" src="/static/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
                 </div>
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   </ul>       
        </header>
        
        <main class="main">    
        <section>  
            <h1> Add new entry!   </h1>
            <form class="form" method="Post"  >      
            <p class="form_input">  
                <label class="form__label" for="entry">Entry Contents:  </label>
                <textarea  class="form__textarea" name="content" id="entry">   </textarea>
                </p>
                <button class="form__submit" type="submit">Add entry </button>
            </form>
        </section>
        <section>    
            <h1>  Recent posts </h1>
        {% for entry in entries   %}    
            <article class="entry">       
                <div>     
                    <h2 class="entry__title"> {{entry[0] | truncate(30, True )}}   </h2>
                    <time class="entry__date"  datetime="10-09-2023">.{{entry[1]}} </time>
                     </div>
                <p class="entry__content"> {{entry[0]}} </p>
            </article>
            
            {% endfor %}
            
        </section>
            
        </main>
        
<footer class="footer">  
    <div class="footer__content">  
        <section class="left">   
            <a class= "footer__item" herf="#">Made by Shivesh Rajput </a>
            <a class="footer__item" herf="#">Checkout my other project </a>
        </section>
    
    
    <section class="right"> 
        <div class="footer__column">  
        <a class="footer__item" herf="#">Recent </a>
         <a class="footer__item" herf="#">Calender </a>
        </div>
        
        <div class="footer__column">   
        <a class="footer__item" herf="#">About </a>
         <a class="footer__item" herf="#">How this was made </a>
        </div>
        
    </section>
    </div>
        
        </footer>
    </body>
</html> -->



<!-- we want to display entry two(see app.py datetime.datetime.strptime(entry[1], "%Y-%m-%d").strftime("%b %d")).
That is the properly formatted date string, but we still want to use entry one in here for the datetime attributes of the time element.
So we will do entry one, This is going to make sure that any accessibility software will still understand this as being the correct date.
While showing a nicer way of displaying the date in text. Let's run this and see what happens. And you can see now we get today date. -->




<!DOCTYPE html>
<html>   
    <head>  
    <meta charset="UTF-8"/>
    <meta  name='viewport' content="width=device-width initial-scale=1.0"/>
        <title> Microblog   </title>
        <link  rel="stylesheet"  href="/static/Microblog.css" >
</head>

    <body> 
        <header class="navbar"> 
            <div class = "navbar__brand">
        <img class="navbar__logo" src="/static/microblog-logo.svg"  alt="This is Microblog logo"  />Microblog
                 </div>
        <ul  class="navbar__navigation">    
        <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a>   </li>
         <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calender</a>   </li>
                   </ul>       
        </header>
        
        <main class="main">    
        <section>  
            <h1> Add new entry!   </h1>
            <form class="form" method="Post"  >      
            <p class="form_input">  
                <label class="form__label" for="entry">Entry Contents:  </label>
                <textarea  class="form__textarea" name="content" id="entry">   </textarea>
                </p>
                <button class="form__submit" type="submit">Add entry </button>
            </form>
        </section>
        <section>    
            <h1>  Recent posts </h1>
        {% for entry in entries   %}    
            <article class="entry">       
                <div>     
                    <h2 class="entry__title"> {{entry[0] | truncate(30, True )}}   </h2>
                    <time class="entry__date"  {{entry[1]}}>.{{entry[2]}} </time>
                     </div>
                <p class="entry__content"> {{entry[0]}} </p>
            </article>
            
            {% endfor %}
            
        </section>
            
        </main>
        
<footer class="footer">  
    <div class="footer__content">  
        <section class="left">   
            <a class= "footer__item" herf="#">Made by Shivesh Rajput </a>
            <a class="footer__item" herf="#">Checkout my other project </a>
        </section>
    
    
    <section class="right"> 
        <div class="footer__column">  
        <a class="footer__item" herf="#">Recent </a>
         <a class="footer__item" herf="#">Calender </a>
        </div>
        
        <div class="footer__column">   
        <a class="footer__item" herf="#">About </a>
         <a class="footer__item" herf="#">How this was made </a>
        </div>
        
    </section>
    </div>
        
        </footer>
    </body>
</html>